@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /*custom colors*/
  --primary: #1d5bd6;
  --secondary: #dbeafe;
  --gray: #6b7280;
  --green: #10b981;
  --pumpkin: #f15c11;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /*custom color name*/
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-gray: var(--gray);
  --color-green: var(--green);
  --color-pumpkin: var(--pumpkin);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.responsive-padding {
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem; /* px-3 */
}

/* Medium screens (>=768px) */
@media (min-width: 768px) {
  .responsive-padding {
    padding-left: 2rem; /* px-8 */
    padding-right: 2rem; /* px-8 */
  }
}

/* Large screens (>=1024px) px-14*/
/* @media (min-width: 1024px) {
  .responsive-padding {
    padding-left: 3.5rem; 
    padding-right: 3.5rem;
  }
} */

/* Extra Large screens (>=1280px) */
@media (min-width: 1280px) {
  .responsive-padding {
    padding-left: 5rem; /* same as lg:px-14 */
    padding-right: 5rem;
  }
}

/* 2XL screens (>=1536px) */
@media (min-width: 1536px) {
  .responsive-padding {
    padding-left: 11rem; /* px-24 */
    padding-right: 12rem;
  }
}
